:host{
    overflow-y: auto;
}

.card-container{
    width: 70%;
    grid-template-columns: 1fr ;
    display: grid;
    padding: 0.1rem;
    margin: 2rem auto;
    gap: 2rem 5%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box; 
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
}

/*Es el uso de important ó poner el sx en cada input y agregar 50 lineas de codigo */
.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: rgb(242, 93, 11) !important;
}
.MuiInputLabel-root.Mui-focused {
  color: black !important; 
}